body{
  margin: 0;
  padding: 0;
  background: #fafced;
}

.stayConnected{
  position: relative;
  top: 15%;
  left: 5%;
  color: #0a1853;
  font-size: 20px;
  padding-top: 20px;
  text-decoration: underline;
}

.middle{
  position: absolute;
  top: 5%;
  left: 10%;
  transform: translate(-50%,-50%);
}

.sm-container{
  text-align: center;
}

.sm-container i{
  color: #0a1853;
  padding: 20px;
  font-size: 30px;
  cursor: pointer;
  transition: 0.4s;
}

.sm-container i:hover{
  transform: scale(1.2);
}

.sm-menu{
  background: #d6e4f1;
  position: absolute;
  border-radius: 8px;
  display: none;
}

.sm-menu::before{
  content: "";
  width: 10px;
  height: 10px;
  background: #0a1853;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}
